body {
    font-family: 'Open Sans', sans-serif;
}
h2 {
    margin-top: 80px;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.answer{
    margin: 24px 18px;
}

.accordion {
    font-size: 30px;
    padding: 18px;
    background-color: #ccc;
    border-bottom: #555 1px solid;
    display: flex;
    align-items: center;
}

.accordion:hover {
    background-color: #444;
    color: white;
}

.accordion div:first-child {
    flex-grow: 1;
}

.panel {
    display: none;
    overflow: hidden;
}
